.contact {
  display: flex;
  padding: var(--padding);
  justify-content: space-evenly;
  color: var(--light-shades);
  letter-spacing: 1px;
  font-size: 1.2rem;
  margin-top: 20%;
  color: black;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  margin-top: 5% ;
}

section h1 {
  margin-top: 20%;
  text-align: center;

}

form textarea, form input {
  margin: 3px 0;
}
